*{
     box-sizing: border-box;
}

.bg{
    background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80')
    no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vw + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    color: beige;
    text-align: center;
    margin: 50% auto;
    font-size: 50px;
}